= simple_form_for @book, :html => {:multipart => true} do |form|
  = select_tag(:category_id, options_for_select(@categories), :prompt => "Select a category")
  = form.input :title
  = form.input :author
  = form.input :description
  = form.button :submit
