!!!
%html
%head
  %title BookCategoryFilter
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body
  %nav.navbar.navbar-default
    .container
      .navbar-header
        = link_to 'Book Demo', root_path, class: 'navbar-brand'
      %ul.nav.navbar-nav.navbar-right
        %li= link_to 'Add Book', new_book_path

        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :role => "button", "aria-expanded" => "false"}
            Categories
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            - Category.all.each do |category|
              %li
                = link_to category.name, books_path(category: category.name), class: "link active"
  .container
    = yield
